neonAnimation(percent)
  @keyframes neon{percent}
    {1% * percent}
      text-shadow: 0 0 .1rem c_top_white, 0 0 .4rem c_top_cyan, 0 0 .8rem c_top_cyan, 0 0 1rem c_top_cyan
    {1% * percent + 3%}
      text-shadow: 0 0 .1rem c_top_white, 0 0 .4rem c_top_cyan
    {1% * percent + 6%}
      text-shadow: 0 0 .1rem c_top_white, 0 0 .4rem c_top_cyan, 0 0 .8rem c_top_cyan, 0 0 1rem c_top_cyan