html
  cursor inherit
  font-size: 62.5%

body
  font-size: 1.4rem
  font-weight: 400
  letter-spacing: .1em
  margin: 0
  overflow: overlay

*
  float: none
  position: static

a
  color: inherit
  text-decoration: none

img
  width: 100%

li
  list-style: none

// ポップアップ画像の枠を消す
#lightbox .lb-image
  border: none

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

for page in pages
  .{page}
    background-color: c_pages[page].bg
    color: c_pages[page].txt
    font-family: ff_pages[page].txt

    ::selection
      background-color: c_pages[page].selectBg
      color: c_pages[page].selectTxt
    ::moz-selection
      background-color: c_pages[page].selectBg
      color: c_pages[page].selectTxt
    &::-webkit-scrollbar
      background-color: c_pages[page].scrollbar
    &::-webkit-scrollbar-thumb
      background-color: c_pages[page].scrollbarThumb

.{pages[1]}
  padding: 5.5rem 6rem
  a
    transition: all .3s ease-in-out
.{pages[2]}
  padding: 10rem 0
.{pages[3]}
  overflow: visible
  padding: 21rem 0 2rem

+ls()
  .{pages[1]}
    padding: 9rem 12rem
  .{pages[2]}
    padding: 13rem 0
  .{pages[3]}
    padding: 27rem 0 5rem