.ttl--1
  color: c-txt-2
  font-family: f-ttl, sans-serif
  font-size: 150%
  font-weight: inherit

.ttl--2
  color: c-txt-2
  font-family: f-ttl, sans-serif
  font-size: 120%
  font-weight: inherit

+ls()
  .ttl--1
    font-size: 250%
  .ttl--2
    font-size: 200%
