.ttl--1
  font-family: f-ttl, sans-serif
  font-size: 140%
  font-weight: inherit

.ttl--2
  border: 0.3rem double c_txt_1
  border-radius: 1rem
  box-shadow: 0 0 .3rem c_txt_1, 0 0 .6rem c_cyan
  font-family: f-ttl, sans-serif
  font-size: 200%
  font-weight: inherit
  margin 1rem auto 4rem
  padding .3rem 2rem
  text-shadow: 0 0 .1rem c_txt_1, 0 0 .4rem c_cyan, 0 0 1rem c_cyan
  width fit-content

.ttl--2--emoji
  font-family: "Noto Sans Egyptian Hieroglyphs", sans-serif
  font-size: 200%
  font-weight: normal

.ttl--3
  font-weight 400

+ls()
  .ttl--1
    font-size: 200%
  .ttl--2
    font-size: 180%
  .ttl--2--emoji
    font-size: 250%
