.ttl--1
  font-family: f-ttl, sans-serif
  font-size: 140%
  font-weight: inherit

.ttl--2
  font-family: f-ttl, sans-serif
  font-size: 130%
  font-weight: inherit

.ttl--2--emoji
  font-family: "Noto Sans Egyptian Hieroglyphs", sans-serif
  font-size: 200%
  font-weight: normal

+ls()
  .ttl--1
    font-size: 200%
  .ttl--2
    font-size: 180%
  .ttl--2--emoji
    font-size: 250%
