div.footerLink
  a(href="https://github.com/probabilityhill") GitHub
  span &ensp;/&ensp;
  a(href="https://qiita.com/probabilityhill") Qiita
  span &ensp;/&ensp;
  a(href="https://twitter.com/nazotoki_riddle") Twitter
