-
  let headerMenuNames = {
    top: {
      works: "Works",
      pics: "Pics",
      nazo: "Nazo",
      eye: "ğ“¹"
    },
    works: {
      works: "ä½œå“",
      pics: "å†™çœŸ",
      nazo: "è¬",
      eye: "ã‚"
    },
    pics: {
      works: "ã‚µã‚¯ãƒ’ãƒ³",
      pics: "ã‚·ãƒ£ã‚·ãƒ³",
      nazo: "ãƒŠã‚¾",
      eye: "ãƒ¡"
    },
    nazo: {
      works: "WORKS",
      pics: "PICS",
      nazo: "NAZO",
      eye: "I"
    },
    eye: {
      works: "works",
      pics: "pics",
      nazo: "nazo",
      eye: "me"
    }
  };

h1(class="headerSiteName")
  a(href="index.html") #{siteName}

ul(class="headerMenu")
  each v, page in pages
    if page != "top"
      li
        a(href=pages[page].url) #{headerMenuNames[key][page]}