-
  let headerMenuNames = {
    top: {
      works: "Works",
      pics: "Pics",
      nazo: "Nazo"
    },
    works: {
      works: "作品",
      pics: "写真",
      nazo: "謎"
    },
    pics: {
      works: "サクヒン",
      pics: "シャシン",
      nazo: "ナゾ"
    },
    nazo: {
      works: "WORKS",
      pics: "PICS",
      nazo: "NAZO"
    },
    eye: {
      works: "works",
      pics: "pics",
      nazo: "nazo"
    }
  };

h1(class="headerSiteName")
  a(href="index.html") #{siteName}

ul(class="headerMenu")
  for page in ["works", "pics", "nazo"]
    if page != "top"
      li
        a(href=pages[page].url) #{headerMenuNames[key][page]}