- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'https://probabilityhill.github.io/portfolio/'
- var themeColor = '#c5da21'
- var siteName = 'okadanao'
- var logoAlt = 'okadanao'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '',
      name : 'top',
      title : ''+siteName,
      description : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ªã§ã™ã€‚å†™çœŸã‚„webã‚µã‚¤ãƒˆ/ã‚¢ãƒ—ãƒªã‚±ãƒ¼ã‚·ãƒ§ãƒ³ã‚’ç´¹ä»‹ã—ã¾ã™ã€‚',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website' 
    },
    photos : {
      url : 'photos.html',
      canonicalUrl : 'photos.html',
      name : 'photos',
      title : 'photosï½œ'+siteName,
      description : 'okadanaoãŒæ’®å½±ã—ãŸå†™çœŸã‚’ç´¹ä»‹ã—ã¾ã™ã€‚',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website' 
    },
    websites : {
      url : 'websites.html',
      canonicalUrl : 'websites.html',
      name : 'websites',
      title : 'websitesï½œ'+siteName,
      description : 'okadanaoãŒã¤ãã£ãŸwebã‚µã‚¤ãƒˆ/ã‚¢ãƒ—ãƒªã‚±ãƒ¼ã‚·ãƒ§ãƒ³ã‚’ç´¹ä»‹ã—ã¾ã™ã€‚',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website'
    },
    linebot : {
      url : 'linebot.html',
      canonicalUrl : 'linebot.html',
      name : 'line bot',
      title : 'line botï½œ'+siteName,
      description : 'okadanaoãŒã¤ãã£ãŸLINE Botã‚’ç´¹ä»‹ã—ã¾ã™ã€‚',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website'
    },
    illustrations : {
      url : 'illustrations.html',
      canonicalUrl : 'illustrations.html',
      name : 'illustrations',
      title : 'illustrationsï½œ'+siteName,
      description : 'okadanaoãŒæã„ãŸçµµã‚’ç´¹ä»‹ã—ã¾ã™ã€‚',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website' 
    },
    riddles : {
      url : 'riddles.html',
      canonicalUrl : 'riddles.html',
      name : 'riddles',
      title : 'riddlesï½œ'+siteName,
      description : 'okadanaoãŒã¤ãã£ãŸè¬è§£ãã‚’ç´¹ä»‹ã—ã¾ã™ã€‚',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website' 
    },
    eye : {
      url : 'eye.html',
      canonicalUrl : 'eye.html',
      name : 'ğ“¹',
      title : 'ğ“¹',
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website' 
    }
  }
