- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'https://probabilityhill.github.io/portfolio/'
- var themeColor = '#c5da21'
- var siteName = 'okadanao'
- var logoAlt = 'okadanao'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '',
      name : 'top',
      title : ''+siteName,
      description : 'okadanaoのポートフォリオです。写真やwebサイト/アプリケーションを紹介します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoのポートフォリオ',
      siteType : 'website' 
    },
    photos : {
      url : 'photos.html',
      canonicalUrl : 'photos.html',
      name : 'photos',
      title : 'photos｜'+siteName,
      description : 'okadanaoが撮影した写真を紹介します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoのポートフォリオ',
      siteType : 'website' 
    },
    websites : {
      url : 'websites.html',
      canonicalUrl : 'websites.html',
      name : 'websites',
      title : 'websites｜'+siteName,
      description : 'okadanaoがつくったwebサイト/アプリケーションを紹介します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoのポートフォリオ',
      siteType : 'website'
    },
    linebot : {
      url : 'linebot.html',
      canonicalUrl : 'linebot.html',
      name : 'line bot',
      title : 'line bot｜'+siteName,
      description : 'okadanaoがつくったLINE Botを紹介します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoのポートフォリオ',
      siteType : 'website'
    },
    illustrations : {
      url : 'illustrations.html',
      canonicalUrl : 'illustrations.html',
      name : 'illustrations',
      title : 'illustrations｜'+siteName,
      description : 'okadanaoが描いた絵を紹介します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoのポートフォリオ',
      siteType : 'website' 
    },
    riddles : {
      url : 'riddles.html',
      canonicalUrl : 'riddles.html',
      name : 'riddles',
      title : 'riddles｜'+siteName,
      description : 'okadanaoがつくった謎解きを紹介します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoのポートフォリオ',
      siteType : 'website' 
    }    
  }
