- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'https://probabilityhill.github.io/portfolio/'
- var themeColor = '#4cb5a0'
- var siteName = 'okadanao'
-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '',
      name : 'Top',
      title : ''+siteName,
      description : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ªã§ã™ã€‚å†™çœŸã‚„webã‚µã‚¤ãƒˆ/ã‚¢ãƒ—ãƒªã‚±ãƒ¼ã‚·ãƒ§ãƒ³ã‚’ç´¹ä»‹ã—ã¾ã™ã€‚',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website'
    },
    works : {
      url : 'works.html',
      canonicalUrl : 'works.html',
      name : 'Works',
      title : 'works | '+siteName,
      description : 'okadanaoã®åˆ¶ä½œç‰©',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website'
    },
    pics : {
      url : 'pics.html',
      canonicalUrl : 'pics.html',
      name : 'Pics',
      title : 'pics | '+siteName,
      description : 'okadanaoã®çµµã‚„å†™çœŸ',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website'
    },
    nazo : {
      url : 'nazo.html',
      canonicalUrl : 'nazo.html',
      name : 'Nazo',
      title : 'nazo | '+siteName,
      description : 'okadanaoã®è¬',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website'
    },
    eye : {
      url : 'eye.html',
      canonicalUrl : 'eye.html',
      name : 'ğ“¹',
      title : 'ğ“¹',
      description : 'me: okadanao',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : 'okadanaoã®ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª',
      siteType : 'website'
    }
  }
