extends _layout

block vars
  include _config
  - var key = "eye"
  - var page = pages[key]

block contents
  section.eyeContent
    p.eyeContent__fav 夕焼け　壁　抽象画　Rummy　環境と心理　シューゲイザー　サイケ　幾何学模様　Music Sound　ambie　キムチ　砂混じりのメロディ　第一回フェラーリのぬり絵自律神経杯　ここにタイトルを入力　インフィニッチェ　GRAPH 1000 FOR PRO 0.3　Galileo Galilei　神社畑心臓　ヒステリヤ　置きグミ　黒いたまご　お母さんヒス構文　カラスとエクステのハーフ　まーごめ　謎解き　ブルドーザーのハンドル　SUPERCAR　テールスープ　無ッチェ　音符の飛行線　寺田魂　オルゴールの魔法　夕暮れの鳥　Tame Impala　Bacchus　成立松　マットブラック　マッドチェスター　万代限定 厚切りポテトチップス　赤い繭　ドモグニ　ベチャベチャのケーキの海　確率の丘　串刺しニッチェ　踊ってばかりの国　ラジオ父ちゃん　火傷に雨　ゆうらん船　コーラの泡たまにプリズム　チッチェ　Notion　夜にはずっと深い夜を　ケミカルの泡立ち　galbo　富士クリス松村　僕の脳ミソのビューティー ヘルメットの中 光るカラフル　ユートピアのパロディー　サンバイザーラジオ　発条引く羽根　チャンスの時間　はごろもフーズ天空支店　マイナーな欝は戯言　日々カオス　ロックンロールは鳴り止まないっ　2ニッチェ　一介の肉塊　赤紙来た青ざめた希望を捨てた　乱射した言葉は虚空を舞う　逆ニッチェ　HIJOSEN　夢追い虫　Gateballers　まいちゃん全部ゆめ　頼りない天使　NEW MUSIC MACHINE　月曜日は離婚通知書がきて 火曜日は籍が抜かれて 水曜日はシングルファザー 木曜日は窓から落ちる 金曜日はトラックにひかれ 土曜日は破綻　月曜日はスリにあって 火曜日はオレオレ詐欺にあって 水曜日はドブに落ちて 木曜日は雷に打たれ 金曜日は竜巻にのまれ 土曜日は破綻　バスタブのCANDY 渦巻いて消える 向こうの方　downy　瀕死のリテラシー　Slowdive　君の全 全 全アバラ セーム・シュルトのボディーで全砕け いりこで骨作始めるさ　The Pains Of Being Pure At Heart　My Bloody Valentine　THE NOVEMBERS　巻き起こせムーヴメンッ!! 向かい風がピューピューピュー 腰からシューシューシュー! Let’s エンターテイメンッ!!　Ride　Ringo Deathstarr　The Stone Roses　髭(HiGE)　Hello black days 人生は上手くいかないことの連続だ いいかい？みんな 人生は失敗の連続だ 失敗して失敗して何にも成し遂げられない やってもできない！そんなとき誰も助けてくれないよ！気をつけろ 人を疑えよ　betcover!!　파란노을(Parannoul)　声溜めラジオ　絆Nightふぃーばー　エアー古き良き時代の「良き」の部分だけを包み込んで未来に流す　生まれてすいませんへのアンチテーゼ　ポエジャン　ROTH BART BARON
    
  section.eyeContent
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4jQUVnrFTTef4Sm3j4c7T8?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/42t8ztKKvJivzCtw98QKK9?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
