extends _layout

block vars
  include _config
  - var key = "eye"
  - var page = pages[key]
  - var hiragana = "あ"
  - for (var i = 0; i < 5000; i++) { hiragana += "あ"; }

block contents
  p.eyeBackground(class="luxy-el") #{hiragana}
  div.eyeAccessCounter(class="luxy-el" data-horizontal="1" data-speed-x="-30" data-speed-y="30")
    p あなたは、<br>
      img(src="https://www.f-counter.net/j/61/1677680991/" alt="アクセスカウンター")
      | 人目<br>の訪問者ですよぉ。
  section.eyeLuckySong(class="luxy-el" data-speed-y="-5")
    h2.eyeLuckySong__ttl 音楽占い
    p.eyeLuckySong__stc アナタのラッキーソングを教えて差し上げます☆
    div.eyeLuckySong__tables
      table
        caption 夕焼けが好きなアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td Beautiful World
          td Parannoul
        tr
          td サブマリン
          td ゆうらん船
        tr
          td そなちね
          td Tempalay
        tr
          td セツナ
          td サニーデイ・サービス
        tr
          td Imaginary Friends
          td Galileo Galilei
        tr
          td 光の中に
          td 踊ってばかりの国
        tr
          td Beautiful girl
          td Gateballers
        tr
          td NEW MUSIC MACHINE
          td Cornelius
        tr
          td 環境と心理
          td METAFIVE
        tr
          td Cue
          td Yellow Magic Orchestra
        tr
          td サリンジャー
          td 踊ってばかりの国
        tr
          td Forget-me-not
          td 尾崎豊
        tr
          td 確率の丘
          td 平沢進
        tr
          td HUMAN-LE
          td 核P-MODEL
      table.eyeLuckySong__table
        caption ダウナーなアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td グライド
          td Lily Chou-Chou
        tr
          td 飛べない翼
          td Lily Chou-Chou
        tr
          td 共鳴(空虚な石)
          td Lily Chou-Chou
        tr
          td Creep
          td Radiohead
        tr
          td 翳す、雲
          td downy
        tr
          td まいちゃん全部ゆめ
          td 神聖かまってちゃん
        tr
          td ヒステリヤ
          td ヤプーズ
        tr
          td SPEC - Main Theme -
          td 渋谷慶一郎
      table.eyeLuckySong__table
        caption 自分を見つめたいアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td I Wanna Be Adored
          td The Stone Roses
        tr
          td ないものねだり
          td HiGE
        tr
          td Walk Slowly
          td SUPERCAR
        tr
          td 愛し
          td RADWIMPS
        tr
          td Lannoy Point
          td Ride
      table.eyeLuckySong__table
        caption 夜景が好きなアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td 火傷に雨
          td 君島大空
        tr
          td Foggy Moon
          td She Her Her Hers
        tr
          td SSWB
          td D.A.N.
        tr
          td 僕らの時代
          td Have a Nice Day!
        tr
          td スターライトパレード
          td SEKAI NO OWARI
        tr
          td 星を落とす
          td Galileo Galilei
        tr
          td 星の彼方へ
          td Flipper's Guitar
        tr
          td Cyberspace Love
          td WONK
        tr
          td 「あの娘は誰?」とか言わせたい
          td KIRINJI
        tr
          td クロニック・ラヴ
          td 中谷美紀
        tr
          td IN THIS WORLD feat. 坂本龍一 [Vocal:満島ひかり]
          td MONDO GROSSO
      table.eyeLuckySong__table
        caption ワクワクしてるアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td バスルームで髪を切る100の方法
          td Flipper's Guitar
        tr
          td 
            a(href="https://youtu.be/vBmU5v2EyxM") HOT LIMIT
          td T.M.Revolution
        tr
          td Ca Va?
          td ビッケブランカ
        tr
          td 革命
          td andymori
        tr
          td GOTOタイムトラベル
          td 後藤輝基
        tr
          td パレード
          td 平沢進
      table.eyeLuckySong__table
        caption 疾走したいアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td cream soda
          td SUPERCAR
        tr
          td Blinding Lights
          td The Weeknd
        tr
          td Big Brother
          td 核P-MODEL
        tr
          td 忘れねぇからな
          td 岩井勇気
        tr
          td おしゃかしゃま
          td RADWIMPS
        tr
          td 天体観測
          td BUMP OF CHICKEN
        tr
          td 世界の終わり
          td THEE MICHELLE GUN ELEPHANT
        tr
          td abnormalize
          td 凛として時雨
      table.eyeLuckySong__table
        caption 少しずつ進みたいアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td 夢追い虫
          td スピッツ
        tr
          td 闇をひとつまみ
          td HiGE
        tr
          td 銀河街の悪夢
          td SEKAI NO OWARI
        tr
          td オリオン座
          td 大森靖子
        tr
          td 16
          td andymori
        tr
          td !!!
          td 踊ってばかりの国
        tr
          td サヨナラCOLOR
          td SUPER BUTTER DOG
        tr
          td 極彩 | I G L (S)
          td ROTH BART BARON
        tr
          td 水平線
          td back number
        tr
          td 光るとき
          td 羊文学
        tr
          td 光の方へ
          td カネコアヤノ
      table.eyeLuckySong__table
        caption 穏やかで爽やかな気分のアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td Sunday Morning
          td The Velvet Underground, Nico
        tr
          td 日曜日
          td スピッツ
        tr
          td LAY DOWN
          td シャムキャッツ
        tr
          td Nijiko (Tiny Piano)
          td 高木正勝
        tr
          td あの夏へ
          td 久石譲
      table.eyeLuckySong__table
        caption 無気力なアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td Prayer X
          td King Gnu
        tr
          td When the Sun Hits
          td Slowdive
        tr
          td 決壊
          td betcover!!
        tr
          td 海と花束
          td きのこ帝国
        tr
          td バナナフィッシュの浜辺と黒い虹(Yuuki Ozaki ver.)
          td Galileo Galilei
        tr
          td 黒いたまご
          td 神聖かまってちゃん
        tr
          td 諦念プシガンガ
          td 戸川純
        tr
          td 言葉も出ない
          td 踊ってばかりの国
      table.eyeLuckySong__table
        caption クリエイティブなアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td キウーイ
          td マッチャポテトサラダ
        tr
          td MIC CHECK
          td Cornelius
        tr
          td 夢見る力に
          td P-MODEL
        tr
          td 電車かもしれない
          td たま
        tr
          td 好き好き大好き
          td 戸川純
        tr
          td 毒
          td 長谷川白紙
      table.eyeLuckySong__table
        caption 虹を見たいアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td Stare At The Sun
          td Ringo Deathstarr
        tr
          td Dripping Sun
          td 幾何学模様
        tr
          td GROOVE TUBE
          td Flipper's Guitar
        tr
          td A Dot
          td Plasticzooms
        tr
          td SUNSHINE FAIRYLAND
          td SUPERCAR
        tr
          td サイケデリック後遺症
          td Syrup 16g
      table.eyeLuckySong__table
        caption 夢の世界に行きたいアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td We Are the Dreamers
          td The Stargazer Lilies
        tr
          td Hoppípolla
          td Sigur Rós
        tr
          td オルゴールの魔法
          td 神聖かまってちゃん
        tr
          td 夢の中へ
          td Cornelius
        tr
          td 発露
          td HIJOSEN
        tr
          td TRIP SKY
          td SUPERCAR
        tr
          td ing
          td 髭
        tr
          td NIGHT POOL
          td King Gnu
        tr
          td どうしよう
          td Tempalay
        tr
          td 松尾芭蕉
          td 水曜日のカンパネラ
      table.eyeLuckySong__table
        caption ふわふわな気分のアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td Feels Like We Only Go Backwards
          td Tame Impala
        tr
          td 発光
          td cosmomule
        tr
          td やよい、ゐやおい
          td 幾何学模様
        tr
          td 夕暮れの鳥
          td 神聖かまってちゃん
        tr
          td 頼りない天使
          td フィッシュマンズ
        tr
          td クロール
          td 踊ってばかりの国
        tr
          td GHOST WORLD
          td Tempalay
      table.eyeLuckySong__table
        caption 内なる感情が溢れ出しそうなアナタへ
        tr
          th 曲名
          th アーティスト
        tr
          td 草木
          td 長谷川白紙
        tr
          td 醒めない
          td スピッツ
        tr
          td ロックンロールは鳴り止まないっ
          td 神聖かまってちゃん
        tr
          td 昆虫軍
          td 戸川純
        tr
          td 鉄の夢
          td THE NOVEMBERS
        tr
          td ガソリンの揺れかた
          td BLANKEY JET CITY
        tr
          td Dingir
          td Seijaku
  iframe.eyeArtworkLg(class="luxy-el" data-speed-y="-35" style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=527283514/size=large/bgcol=333333/linkcol=4ec5ec/minimal=true/transparent=true/" seamless)
    a(href="https://otochfto.bandcamp.com/album/--4") アニメーション・トリッピング by マッチャポテトサラダ
  iframe.eyeArtworkLg(class="luxy-el" data-speed-y="-40" style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=514537703/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless)
    a(href="https://parannoul.bandcamp.com/album/to-see-the-next-part-of-the-dream") To See the Next Part of the Dream by Parannoul
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-35" style="border-radius:12px" src="https://open.spotify.com/embed/track/1edl0g69OvvUssTf5vC1rq?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-30" style="border-radius:12px" src="https://open.spotify.com/embed/track/1i84eCrJbu0EIP5aWToMMa?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/5wabyQ3O6CLAznVsAFCrXW?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-26" style="border-radius:12px" src="https://open.spotify.com/embed/track/35VEMDOASF9TfAbl3U64Eu?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-28" style="border-radius:12px" src="https://open.spotify.com/embed/track/1iSnXuadmWcq1WUDUjQvHt?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-25" style="border-radius:12px" src="https://open.spotify.com/embed/track/2qBfUvYSQfgt2GYi3pPrge?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/3O6cA0xColhZ2PeBENPC2H?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/6pxKpd4zBqMPJp0ZuMZtHb?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/3JQQap0iGnVOzcof11u5Cv?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/1bGQzqsQ481KXnX5W6dGRA?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/3srgHK0I4G5zK4TY1P7ezq?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/52TtyArjNXICtlHtLeaBK2?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/2SY014tJ8Vj5yfroKk3ZtL?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/3HkmmvgXu4bGkiQgQ0wkaD?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/1KQ6GNUboUSDHXuIfE6ckI?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/06UCEdRD4fSx6ULCGDJ850?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-5" style="border-radius:12px" src="https://open.spotify.com/embed/track/7jmYhcxN8kiKMZbAgNGNoZ?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")
  iframe.eyeArtworkSm(class="luxy-el" data-speed-y="-25" style="border-radius:12px" src="https://open.spotify.com/embed/track/5jf779cw8oauB14gg2ELe3?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy")


block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();