extends _layout

block vars
  include _config
  - var key = "eye"
  - var page = pages[key]

block contents
  section.spotify
    h2.spotify__ttl.ttl--2--emoji 𓁹
    p.note 夕焼け　環境と心理　抽象画　謎解き　ambie　シューゲイザー　サイケ　幾何学模様　ヒステリヤ　置きグミ　黒いたまご　ゆうらん船　アースカラー　マットブラック　マッドチェスター　赤い繭　踊ってばかりの国　火傷に雨　夜にはずっと深い夜を　富士クリス松村　Hello black days 人生は上手くいかないことの連続だ いいかい？みんな 人生は失敗の連続だ 失敗して失敗して何にも成し遂げられない やってもできない！そんなとき誰も助けてくれないよ！気をつけろ 人を疑えよ　君の全 全 全アバラ セーム・シュルトのボディーで全砕け もう一回？もう一回？ボディーのおかわり ナイ ナイ ナイ 全 全 全アバラ セーム・シュルトのボデーで全砕け いりこで骨作始めるさ　ロックンロールは鳴り止まないっ　巻き起こせムーヴメンッ!! 向かい風がピューピューピュー 腰からシューシューシュー! Let’s エンターテイメンッ!!　赤紙来た青ざめた希望を捨てた　HIJOSEN　夢追い虫　Gateballers　まいちゃん全部ゆめ　頼りない天使　NEW MUSIC MACHINE　GROOVE TUBE　月曜日は離婚通知書がきて 火曜日は籍が抜かれて 水曜日はシングルファザー 木曜日は窓から落ちる 金曜日はトラックにひかれ 土曜日は破綻　月曜日はスリにあって 火曜日はオレオレ詐欺にあって 水曜日はドブに落ちて 木曜日は雷に打たれ 金曜日は竜巻にのまれ 土曜日は破綻
    
  section.spotify
    h2.spotify__ttl.ttl--2--emoji 𓅓𓅱𓋴𓇋𓎡
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4jQUVnrFTTef4Sm3j4c7T8?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/42t8ztKKvJivzCtw98QKK9?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
