extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div(id="app" class="para")
    div(class="luxy-el para__01 progressive" data-speed-y="40")
      img(class="preview lazy" data-src=imgPath+"/"+key+"/man.JPG" src=imgPath+"/"+key+"/man-dummy.JPG")
    div(class="luxy-el para__02")
      section(class="lp__about")
        h2.ttl--2 ABOUT
        p.lp__about__txt okadanaoです
        p.lp__about__txt 
          span.lp__about__txt__h webサイト/アプリ制作
          | <br>―<br>2019年頃に始めました<br>つくりたいものが頭に浮かんだときに<br>必要な技術を学びながら地道につくっています
        p.lp__about__txt
          span.lp__about__txt__h 描画
          | <br>―<br>ゼンタングルを取り入れた<br>細かい絵を描くのが好きです
        p.lp__about__txt
          span.lp__about__txt__h 写真撮影
          | <br>―<br>中高写真部でした<br>夕焼けの写真が一番好きです
        p.lp__about__txt
          span.lp__about__txt__h 謎解き制作
          | <br>―<br>2019年2月に謎投稿用Twitterアカウント<br>「<a href="https://twitter.com/nazotoki_riddle">謎解き-RIDDLE</a>」を開設しました<br>自作の謎解きでのお気に入りは<br>LINE謎「<a href="https://twitter.com/TM_TryAngle/status/1373473769885376516?s=20&t=JObkTF6DdOHQSGylU56msg">てぬき</a>」です<br>謎解き制作団体 <a href="https://twitter.com/opunazotoki">F-enigma</a> と <a href="https://twitter.com/tryangle_nazo">TryAngle</a><br>のメンバーとしても活動しています
        p.lp__about__txt
          span.lp__about__txt__h 好きなWebサイト
          | <br>―<br><a href="https://everynoise.com/engenremap.html">Every Noise at Once</a>, <a href="https://openprocessing.org/">OpenProcessing</a>, <a href="https://0414.works/kachera/">欠片</a>
        p.lp__about__txt
          span.lp__about__txt__h 好きなツール/サービス
          | <br>―<br>Atom, ibisPaint, Mouse Dictionary,<br>Notion, Wolfram Alpha
          
      section(class="lp__about")
        h2.ttl--2 SKILL
        p.lp__about__txt
          span.lp__about__txt__h Pug / stylus / HTML / CSS
          | <br>―<br>Webサイト・Webアプリ制作や<br>ホームページのメンテナンス等で<br>日常的に使っています
        p.lp__about__txt
          span.lp__about__txt__h Google Apps Script
          | <br>―<br>主に作業効率化に使用しています
        p.lp__about__txt
          span.lp__about__txt__h Google Apps Script + LINE Messaging API
          | <br>―<br>LINE Bot 制作で使用しています
        p.lp__about__txt
          span.lp__about__txt__h JavaScript / jQuery
          | <br>―<br>Webサイト・Webアプリ制作において<br>必要に応じて使用しています
        p.lp__about__txt
          span.lp__about__txt__h Python + Flask
          | <br>―<br>Webアプリ制作の際に<br>使用しています
        p.lp__about__txt
          span.lp__about__txt__h Python + PyTorch
          | <br>―<br>自然言語処理（文章生成等）で<br>使用しています
        p.lp__about__txt
          span.lp__about__txt__h C# / Python
          | <br>―<br>大学の授業でよく使っていました
        p.lp__about__txt
          span.lp__about__txt__h Prolog / R / Processing / Java
          | <br>―<br>大学の授業で使ったことがあります
        p.lp__about__txt
          span.lp__about__txt__h Git / Git Bash / GitHub / Bitbucket
          | <br>―<br>ソースコード管理に使っています

block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();
