extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div(id="app" class="para")
    div(class="luxy-el para__01 progressive" data-speed-y="40")
      img(class="preview lazy" data-src=imgPath+"/"+key+"/man.JPG" src=imgPath+"/"+key+"/man-dummy.JPG")
    div(class="luxy-el para__02")
      section(class="lp__about")
        h2.ttl--2 ABOUT
        p.lp__about__txt 
          span.lp__about__txt__h webサイト制作
          | <br>―<br>2019年頃に独学し始める<br>基本的に制作の過程で必要に応じて<br>技術を学びながらつくる
        p.lp__about__txt
          span.lp__about__txt__h 描画
          | <br>―<br>細かい絵を描くことが多い
        p.lp__about__txt
          span.lp__about__txt__h 写真撮影
          | <br>―<br>中高写真部所属<br>お気に入りは夕焼けの写真
        p.lp__about__txt
          span.lp__about__txt__h 謎解き制作
          | <br>―<br><a href="https://twitter.com/opunazotoki">F-enigma</a> と <a href="https://twitter.com/tryangle_nazo">TryAngle</a> に所属<br>個人ではLINE謎「<a href="https://twitter.com/TM_TryAngle/status/1373473769885376516?s=20&t=JObkTF6DdOHQSGylU56msg">てぬき</a>」を制作
        p.lp__about__txt
          span.lp__about__txt__h 好きなWebサイト
          | <br>―<br><a href="https://everynoise.com/engenremap.html">Every Noise at Once</a>, <a href="https://openprocessing.org/">OpenProcessing</a><br><a href="https://0414.works/kachera/">欠片</a>, <a href="https://0414.works/nagenawa/">なげなわタイポグラファー</a>
        p.lp__about__txt
          span.lp__about__txt__h 使用ツール
          | <br>―<br>Atom, Windows Terminal<br>Git, GitHub, Heroku<br>Gradient, Google Colaboratory<br>Prepros, FFFTP, PythonAnywhere<br>Google Search Console, Google Analytics<br>ibisPaint, Inkscape, PowerPoint
          
      section(class="lp__about")
        h2.ttl--2 SKILL
        p.lp__about__txt
          | よく使う/慣れている順
        p.lp__about__txt
          span.lp__about__txt__h Pug / stylus / HTML / CSS
          | <br>―<br>Webサイト・Webアプリ制作やメンテナンス
        p.lp__about__txt
          span.lp__about__txt__h Python
          | <br>―<br>作業効率化等
        p.lp__about__txt
          span.lp__about__txt__h JavaScript / jQuery
          | <br>―<br>Webサイト・Webアプリ制作
        p.lp__about__txt
          span.lp__about__txt__h Google Apps Script (GAS)
          | <br>―<br>作業効率化等
        p.lp__about__txt
          span.lp__about__txt__h GAS + LINE Messaging API
          | <br>―<br>LINE Bot 制作
        p.lp__about__txt
          span.lp__about__txt__h Python + Flask
          | <br>―<br>Webアプリ制作
        p.lp__about__txt
          span.lp__about__txt__h Python + PyTorch
          | <br>―<br>機械学習
        p.lp__about__txt
          span.lp__about__txt__h C# / Prolog / R / Processing / Java
          | <br>―<br>大学の授業や課題で使用

block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();
