extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  // data-horizontal="1" data-speed-x="30"
  div(id="app" class="lp")
    div(class="luxy-el lp__01 progressive" data-speed-y="40")
      img(class="preview lazy" data-src=imgPath+"/"+key+"/man.JPG" src=imgPath+"/"+key+"/man-dummy.JPG")

block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();
