extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  // data-horizontal="1" data-speed-x="30"
  div(id="app" class="para")
    div(class="luxy-el para__01 progressive" data-speed-y="40")
      img(class="preview lazy" data-src=imgPath+"/"+key+"/man.JPG" src=imgPath+"/"+key+"/man-dummy.JPG")
    div(class="luxy-el para__02")
      section(class="lp__about")
        h2.ttl--2 ABOUT
        p.lp__about__txt okadanaoです.<br>創作が大好きです.<br>webサイト/アプリ制作, <br>描画, 写真撮影, 謎解き制作<br>などをしています.
        p.lp__about__txt 
          span.lp__about__txt__h webサイト/アプリ制作
          | <br>―<br>2019年頃から独学しています.<br>デザインに拘るのが楽しいです.
        p.lp__about__txt
          span.lp__about__txt__h 描画
          | <br>―<br>ゼンタングルを取り入れた,<br>細かい絵を描くのが好きです.
        p.lp__about__txt
          span.lp__about__txt__h 写真撮影
          | <br>―<br>中高写真部でした.<br>夕焼けの撮影が１番好きです.
        p.lp__about__txt
          span.lp__about__txt__h 謎解き制作
          | <br>―<br>2019年2月に開設した,<br>謎投稿Twitterアカウントがあります.<br>自作の謎解きでのお気に入りは,<br>LINE謎「てぬき」です.<br>謎解き制作団体でも活動しています.
      section(class="lp__about")
        h2.ttl--2 SKILL
        p.lp__about__txt
          span.lp__about__txt__h markup & programming
          | <br>―<br> HTML / JavaScript / Pug / Flask<br>CSS / Sass / stylus<br>C# / Python / Prolog / R
        p.lp__about__txt
          span.lp__about__txt__h tools 
          | <br>―<br>Git / GitHub / Bitbucket<br>Git Bash / Anaconda Powershell Prompt<br>Atom / Visual Studio / Prepros<br>Gradient / Google Colaboratory<br>FFFTP / Google Search Console<br>Heroku / PythonAnywhere<br>ibisPaint / Inkscape
          
block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();
