extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div(class="para")
    div(class="luxy-el para__01" data-speed-y="40")
      img(src=imgPath+"/"+key+"/man.JPG")
    div(class="luxy-el para__02")
      section(class="lp__about")
        h2.ttl--2 ABOUT
        p.lp__about__txt 
          span.lp__about__txt__h webサイト制作
          | <br>―<br>2019年頃に独学を始める
        p.lp__about__txt
          span.lp__about__txt__h 描画
          | <br>―<br>抽象絵画が多い
        p.lp__about__txt
          span.lp__about__txt__h 写真撮影
          | <br>―<br>中高写真部所属<br>お気に入りは夕焼けの写真
        p.lp__about__txt
          span.lp__about__txt__h 謎解き制作
          | <br>―<br><a href="https://twitter.com/opunazotoki">F-enigma</a> と <a href="https://twitter.com/tryangle_nazo">TryAngle</a> に所属<br>個人ではLINE謎「<a href="https://twitter.com/TM_TryAngle/status/1373473769885376516?s=20&t=JObkTF6DdOHQSGylU56msg">てぬき</a>」を制作
        p.lp__about__txt
          span.lp__about__txt__h 好きなWebサイト
          | <br>―<br><a href="https://everynoise.com/engenremap.html">Every Noise at Once</a>, <a href="https://openprocessing.org/">OpenProcessing</a><br><a href="https://0414.works/kachera/">欠片</a>, <a href="https://0414.works/nagenawa/">なげなわタイポグラファー</a>
          
      section(class="lp__about")
        h2.ttl--2 SKILL
        img(src=imgPath+"/"+key+"/frequency-of-use.png")

block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();
