extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div(class="para")
    div(class="luxy-el para__01" data-speed-y="40")
    div(class="luxy-el para__02")
      section(class="lp__about")
        h2.ttl--2 About
        p.lp__about__txt
          span.lp__about__txt__h.material-symbols-outlined web
          | <br>Webサイト等の制作<br>
          a(href="websites.html") check!
        p.lp__about__txt
          span.lp__about__txt__h.material-symbols-outlined draw
          | <br>描画（主に線画・抽象画）<br>
          a(href="illustrations.html") check!
        p.lp__about__txt
          span.lp__about__txt__h.material-symbols-outlined photo_camera
          | <br>写真（中高写真部）<br>
          a(href="photos.html") check!
        p.lp__about__txt
          span.lp__about__txt__h.material-symbols-outlined quiz
          | <br>謎解き制作<br>活動名義は田中実<br>
          a(href="riddles.html") check!

      section(class="lp__about")
        h2.ttl--2 Skill/Tool
        p.lp__about__txt 使用経験のある技術・ツールなど
        div(class="lp__about__imgs")
          a(href=imgPath+"/"+key+"/frequency-of-use.png")
            img(src=imgPath+"/"+key+"/frequency-of-use.png" alt="プログラミング言語・ツールの使用頻度を表す画像")

block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();
