extends _layout

block vars
  include _config
  - var key = "music"
  - var page = pages[key]

block contents
  section.spotify
    h2 ğ“¹
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4jQUVnrFTTef4Sm3j4c7T8?utm_source=generator&theme=0" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/42t8ztKKvJivzCtw98QKK9?utm_source=generator&theme=0" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6pxKpd4zBqMPJp0ZuMZtHb?utm_source=generator&theme=0" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
