extends _layout

block vars
  include _config
  - var key = "nazo"
  - var page = pages[key]

block contents
  p.nazo__barcode *ASDHGHJKL*
  div.nazo__content
    div.nazo__content__item
      img(src=imgPath+"/works/water.png" alt="water")
      section.nazo__detail
        h2.nazo__detail__ttl water
        p.nazo__detail__url
          a(href="https://lin.ee/PMyXCdw") https://lin.ee/PMyXCdw
        p.nazo__detail__stc ああああああああああああああああああああああああああああああああああああああああああああああ
    div.nazo__content__item
      img(src=imgPath+"/works/saizen.png" alt="最善手")
      section.nazo__detail
        h2.nazo__detail__ttl 最善手
        p.nazo__detail__url
          a(href="https://lin.ee/zzNhJsv") https://lin.ee/zzNhJsv
        p.nazo__detail__stc ああああああああああああああああああああああああああああああああああああああああああああああ
    div.nazo__content__item
      img(src=imgPath+"/works/tenuki.png" alt="てぬき")
      section.nazo__detail
        h2.nazo__detail__ttl てぬき
        p.nazo__detail__url
          a(href="https://lin.ee/TyIojyu") https://lin.ee/TyIojyu
        p.nazo__detail__stc ああああああああああああああああああああああああああああああああああああああああああああああ
    div.nazo__content__item
      img(src=imgPath+"/works/bokunazo.png" alt="ボクが作った謎解き😆")
      section.nazo__detail
        h2.nazo__detail__ttl ボクが作った謎解き😆
        p.nazo__detail__url
          a(href="https://lin.ee/IEUY1yS") https://lin.ee/IEUY1yS
        p.nazo__detail__stc ああああああああああああああああああああああああああああああああああああああああああああああ

