extends _layout

block vars
  include _config
  - var key = "photos"
  - var page = pages[key]

block contents
  div(id="app")
    div(class="progressive")
      img(class="preview lazy" data-src=imgPath+"/photos/bird.JPG" src=imgPath+"/photos/bird-dummy.JPG")
