extends _layout

block vars
  include _config
  - var key = "websites"
  - var page = pages[key]

block contents
  div(id="app" class="work")
    div(class="progressive")
      img(class="preview lazy" data-src=imgPath+"/"+key+"/odc.png" src=imgPath+"/"+key+"/odc.png")
    div(class="progressive")
      img(class="preview lazy" data-src=imgPath+"/"+key+"/odc-sp.png" src=imgPath+"/"+key+"/odc-sp.png")
    section
      h2 おかだ歯科クリニック
      p 独学でHTMLやCSSを学んで初めてつくったホームページです。
