extends _layout

block vars
  include _config
  - var key = "websites"
  - var page = pages[key]

block contents
  div(id="app")
    div(class="progressive")
      img(class="preview lazy" data-src=imgPath+"/"+key+"/kotobasagashi.png" src=imgPath+"/"+key+"/kotobasagashi-dummy.png")
