@charset "UTF-8"
@font-face
  font-family: "ROLAchan";
  src: url("../font/ROLAchan-Regular.woff2") format("woff2"),
       url("../font/ROLAchan-Regular.woff") format("woff");

@import "setting/_path"
@import "setting/_color"


@import "mixin/_mq"
//@import "mixin/_align"
//@import "mixin/_color"
//@import "mixin/_border"
//@import "mixin/_font"
//@import "mixin/_btn"


@import "component/_heading"

//@import "project/_imgs"

@import "foundation/_sanitize"
@import "foundation/_base"

@import "common/_header"
/*
@import "common/_gnav"
@import "common/_footer"
*/
@import "page/_top"
