c_top_blue = #2f7bc6
c_top_cyan = #6ed9e7
c_top_cyan_glitch = #65c8d5
c_top_cyan_light = #a8f5ff
c_top_midnight = #262454
c_top_pink = #f5a6dd
c_top_pink_glitch = #c874af
c_top_purple = #968aff
c_top_purple_light = #ded5ff
c_top_violet = #db8eec
c_top_violet_transp = #f1a8ff30
c_top_white = #fff

c_works_black = #222
c_works_blue = #418aae
c_works_gray = #41505f
c_works_green = #6c7d6b
c_works_red = #cd5454
c_works_white = #f4f3ef

c_pics_black = #3f473f
c_pics_blue = #3b82b6
c_pics_cyan = #82cbc4
c_pics_green = #528151
c_pics_red = #e66f6f
c_pics_white = #fffff0

c_nazo_blue_light = #61eef0
c_nazo_green = #54d48a
c_nazo_navy = #0000ff
c_nazo_navy_transp = #0000ff99
c_nazo_pink = #ae2774
c_nazo_red = #a01b15
c_nazo_yellow = #d4ffa8
c_nazo_yellow_transp = #d4ffa8aa

c_pages = {
    top: {
        bg: c_top_midnight,
        txt: c_top_white,
        selectBg: c_top_pink,
        selectTxt: c_top_midnight,
        scrollbar: transparent,
        scrollbarThumb: c_top_violet_transp
    },
    works: {
        bg: c_works_white,
        txt: c_works_black,
        selectBg: c_works_red,
        selectTxt: c_works_white,
        scrollbar: transparent,
        scrollbarThumb: c_works_green
    },
    pics: {
        bg: c_pics_cyan,
        txt: c_pics_white,
        selectBg: c_pics_green,
        selectTxt: c_pics_white,
        scrollbar: transparent,
        scrollbarThumb: c_pics_white
    },
    nazo: {
        bg: c_nazo_yellow,
        txt: c_nazo_navy,
        selectBg: c_top_pink,
        selectTxt: c_top_midnight,
        scrollbar: transparent,
        scrollbarThumb: c_nazo_navy_transp
    },
    eye: {
        bg: c_top_midnight,
        txt: c_top_white,
        selectBg: c_top_pink,
        selectTxt: c_top_midnight,
        scrollbar: c_top_purple,
        scrollbarThumb: c_top_pink
    }
}