c_blue = #2f7bc6
c_cyan = #6ed9e7
c_darkblue = #07133B
c_darkcyan = #2679af
c_midnight = #262454
c_pink = #f5a6dd
c_purple = #8a69fe
c_violet = #db8eec
c_white = #fff

c_theme_1 = c_violet
c_txt_1 = c_white
c_txt_1_light = #ffffffcc
c_bg_1 = c_midnight
c_bg_1_dark = c_darkblue
c_bg_1_light = c_blue
