c_top_blue = #2f7bc6
c_top_cyan = #6ed9e7
c_top_cyan_glitch = #65c8d5
c_top_cyan_light = #a8f5ff
c_top_midnight = #262454
c_top_pink = #f5a6dd
c_top_pink_glitch = #c874af
c_top_purple = #968aff
c_top_violet = #db8eec
c_top_white = #fff
c_top_white_dark = #c8c1e5

c_top_theme_1 = c_top_purple
c_top_txt_1 = c_top_white
c_top_bg_1 = c_top_midnight

