ff_pages = {
    top: {
        txt: "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Tilt Neon"\, cursive,
        headerMenu: "Neonderthaw"\, cursive
    },
    works: {
        txt: "Hannari"\, serif,
        siteName: "Averia Serif Libre"\, cursive,
        headerMenu: "Hannari"\, serif
    },
    pics: {
        txt: "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Tilt Neon"\, cursive,
        headerMenu: "Neonderthaw"\, cursive
    },
    nazo: {
        txt: "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Tilt Neon"\, cursive,
        headerMenu: "Neonderthaw"\, cursive
    },
    eye: {
        txt: "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Tilt Neon"\, cursive,
        headerMenu: "Neonderthaw"\, cursive
    }
}