@font-face {
    font-family: "memoir";
    src: url(fontPath+"/memoir.woff2") format("woff2"),
         url(fontPath+"/memoir.woff") format("woff")
}


ff_hieroglyphs = "Noto Sans Egyptian Hieroglyphs", sans-serif
ff_neonLine = "Neonderthaw", cursive

ff_pages = {
    top: {
        txt: "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Tilt Neon"\, cursive,
        headerMenu: "Neonderthaw"\, cursive
    },
    works: {
        txt: "Averia Serif Libre"\, "Hannari"\, "New Tegomin"\, "Kiwi Maru"\,serif,
        siteName: "Averia Serif Libre"\, cursive,
        headerMenu: "New Tegomin"\, serif
    },
    pics: {
        txt: "Fascinate"\, "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Fascinate"\, cursive,
        headerMenu: "memoir"\, sans-serif
    },
    nazo: {
        txt: "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Ubuntu"\, sans-serif,
        headerMenu: "Ubuntu"\, sans-serif
    },
    eye: {
        txt: "Zen Kaku Gothic Antique"\, sans-serif,
        siteName: "Tilt Neon"\, cursive,
        headerMenu: "Neonderthaw"\, cursive
    }
}