.illustrations
  &__main
    &__block
      &__item
        margin-bottom 3rem

+ls()
  .illustrations
    &__main
      &__block
        &__item
          width calc((100vw - 15rem * 2 - 3rem - 2rem) / 2)
          &:nth-child(odd)
            float left
            margin-right 3rem
