.eye
  padding 6rem 3rem

.eyeContent
  & iframe
    margin-bottom 3rem
  &__fav
    color c-txt-1-light
    font-size 90%

+ls()
  .eyeContent
    & iframe
      margin: 2rem
      width calc((100% - 2rem * 4) / 2)
