.eyeBackground
  color c_eye_purple_transp
  font-size 120%
  margin 0
.eyeAccessCounter
  color c_eye_red
  font-size 200%
  font-weight 600
  position absolute
  right 0
  top: 20rem
  img
    width 20rem
.eyeSpotifySm
  height: 8rem
  width: 8rem
.eyeSpotifyLg
  height: 20rem
  width: 20rem

.eyeLuckySong
  &__table
    border: solid 2px c_eye_black
    th, td
      border: solid 2px c_eye_black
+ls()
  .eyeAccessCounter
    right 5rem
    top: 30rem