.eyeBackground
  color c_eye_purple_transp
  font-size 150%
.eyeAccessCounter
  color c_eye_red
  font-size 200%
  font-weight 600
  position absolute
  top: 20rem
  img
    width 20rem

+ls()
  .eyeAccessCounter
    top: 30rem