.music
  padding 5rem 3rem

.spotify
  &__ttl
    padding-bottom 2rem
    text-align center
  & iframe
    margin-bottom 3rem

+ls()
  .spotify
    & iframe
      margin: 2rem
      width calc((100% - 2rem * 4) / 2)
