.nazo__q
  color transparent
  position: absolute
  right: 1rem
  text-align right
  top: 1.5rem
  &__barcode
    animation: barcode 3s ease-in .5s forwards
    font-family ff_barcode
    font-size 200%
    margin 0
  &__emoji
    animation: emoji 3s ease-in .5s forwards
    font-family ff_emoji
    margin 0
    &__fish
      &::after
        color c_nazo_pink
        content: "EXCELLENT👏"
        display: none
        font-family ff_emoji
      &:active::after
        display: inline

@keyframes emoji
  100%
    color c_pages.nazo.txt

@keyframes barcode
  70%
    color c_pages.nazo.txt
  100%
    color black

.nazo__content
  margin-bottom 5rem
  &__item
    display grid
    grid-column-gap 1rem
    grid-template-columns 2fr 3fr
    padding-bottom: 2rem

.nazo__detail
  &__ttl
    color c_nazo_pink
    font-weight 500
    margin 0
  &__url
    font-size 70%
    font-weight 500
    margin 0
    & a
      text-decoration underline solid
      text-underline-offset 2px
  &__stc
    font-size 90%
    a
      text-decoration underline solid
      text-underline-offset 2px


+ls()
  .nazo__q
    right: 2.5rem
    top: 2rem
    &__barcode
      font-size 250%
    &__emoji
      font-size 120%

  .nazo__content
    display grid
    grid-auto-flow row
    grid-column-gap 2rem
    grid-template-columns 1fr 1fr
    &__item
      padding-bottom 3rem
      &__url
        font-size 90%

