.nazo__content
  margin-bottom 5rem
  &__item
    display grid
    grid-column-gap 1rem
    grid-template-columns 2fr 3fr

.nazo__detail
  &__ttl
    color c_nazo_pink
    font-weight 500
    margin 0
  &__url
    font-size 70%
    font-weight 500
    margin 0
    & a
      text-underline-offset 2px
      text-decoration underline solid


+ls()
  .nazo__content
    display grid
    grid-auto-flow row
    grid-column-gap 2rem
    grid-template-columns 1fr 1fr
    padding-top 3rem
    &__item
      padding-top 3rem
      &__url
        font-size 90%

