.nazo__content
  margin-bottom 5rem
  & h2
    margin 1rem
    text-align center

.lineNazo
  &__item
    padding-top 1rem
    &__url
      font-size 70%
      & a
        text-underline-offset .2rem
        text-decoration underline dotted


#twitter-widget-0
  width 100%

+ls()
  .nazo__content
    margin-bottom 15rem
  .lineNazo
    display grid
    grid-auto-flow row
    grid-column-gap 15rem
    grid-template-columns 1fr 1fr
    padding-top 3rem
    &__item
      padding-top 3rem
      &__url
        font-size 90%

