.photos
  &__main
    padding 6rem 3rem 6rem 8rem
    &__block
      padding 1rem 0

+ls()
  .photos
    &__main
      display grid
      grid-auto-flow row
      grid-column-gap 8rem
      grid-template-columns 1fr 1fr
      padding 12rem 5rem 12rem 14rem
      &__block
        padding 3rem 0
