.lp
  position: relative
  &__01
    position: relative;
    z-index: 1
  &__02
    position: relative
    z-index: 2
  &__03
    position: relative
    z-index: 1
  &__04
    position: relative
    top: -9vh
    z-index: 2
  &__05
    position: relative
    top: -12vh
    z-index: 1
  &__06
    position: relative
    top: -25vh
    z-index: 2
  &__07
    position: relative
    top: -24vh
    z-index: 1
  &__08
    position: relative
    top: -42vh
    z-index: 2
  &__09
    position: relative
    top: -39vh
    z-index: 1

+tb()
  .lp
    &__04
      top: -12vh
    &__06
      top: -29vh
    &__08
      top: -46vh
    &__09
      top: -37vh

+ls()
  .lp
    &__03
      top: 3vh
    &__04
      top: -20vh
    &__05
      top: -6vh
    &__06
      top: -40vh
    &__07
      top: -17vh
    &__08
      top: -63vh
    &__09
      top: -31vh
