.pics
  &__main
    &__block
      &__photos
        padding 1rem 0

+ls()
  .pics
    &__main
      &__block
        display grid
        grid-auto-flow row
        grid-column-gap 2rem
        grid-template-columns 1fr 1fr
        &__photos
          padding 1rem 0
