.twRiddles
  padding 5rem 2rem 6rem 4rem
  &__item
    padding 1rem 0

#twitter-widget-0
  width 100%

+ls()
  .twRiddles
    display grid
    grid-auto-flow row
    grid-column-gap 5rem
    grid-template-columns 1fr 1fr
    &__item
      padding 2rem 0
