.riddles__content
  margin 5rem auto 3rem
  & h2
    margin 1rem
    text-align center

.lineRiddles
  padding 1rem 3rem 0 8rem
  & img
    width 60%

.twRiddles
  padding 0 2rem 6rem 4rem
  &__item
    padding 1rem 0

#twitter-widget-0
  width 100%

+ls()
  .lineRiddles
    padding 2rem 5rem 0 14rem
  .twRiddles
    display grid
    grid-auto-flow row
    grid-column-gap 5rem
    grid-template-columns 1fr 1fr
    &__item
      padding 2rem 0
