.riddles__content
  margin-bottom 3rem
  & h2
    margin 1rem
    text-align center

.lineRiddles
  &__url
    font-size 60%
  & img
    width 60%

.twRiddles
  &__item
    padding 1rem 0

#twitter-widget-0
  width 100%

+ls()
  .riddles__content
    margin-bottom 8rem
  .lineRiddles
    padding-top 3rem
    &__url
      font-size inherit
    & img
      width 30%
  .twRiddles
    display grid
    grid-auto-flow row
    column-gap 7rem
    grid-template-columns 1fr 1fr
    padding-top 3rem
    &__item
      padding 2rem 0
