.top
  &__main
    font-weight 500

.c_top_cyan_light
  color c_top_cyan_light

.para__01
  background: url(imgPath+"/top/hero.jpg") top 25% right 40% / cover
  min-height: 100vh
  width 100%

.para__02
  background-color c_pages.top.bg

.lp__about
  padding-top 6rem
  text-align center
  &__ttl
    border: 0.3rem double c_top_white
    border-radius: 1rem
    box-shadow: 0 0 .3rem c_top_white, 0 0 .6rem c_top_cyan
    font-family: ff_neonLine
    font-size: 180%
    font-weight: inherit
    margin 1rem auto 4rem
    padding .3rem 1.5rem
    text-shadow: 0 0 .1rem c_top_white, 0 0 .4rem c_top_cyan, 0 0 1rem c_top_cyan
    width fit-content
  &__txt
    padding 1rem 0
    text-align center
    &__h.material-symbols-outlined
      font-size 180%
      margin-bottom 1rem
    & a
      text-underline-offset .2rem
      text-decoration underline dotted
  &:last-child
    padding-bottom 10rem

+ls()
  .lp__about
    padding-top 10rem
    &__ttl
      font-size: 200%
    &:last-child
      padding-bottom 15rem