.lp__about
  background-color c-bg-1
  padding 2rem 1rem 6rem
  text-align center
  &:last-child
    background-color c-bg-2
  &__txt
    padding 1rem 0
    text-align center
    &__h
      font-weight 500
    & a
      text-underline-offset .2rem
      text-decoration underline dotted
  &__imgs
    margin 2rem auto
    & img
      padding-top 2rem

+ls()
  .lp__about
    padding 2rem 3rem 8rem
    &__imgs
      margin 5rem auto
      & img
        padding 2rem
        width 40%
