.websites
  &__main
    padding 8rem
    &__block
      padding 1rem 0
+ls()
  .websites
    &__main
      display grid
      grid-auto-flow row
      grid-column-gap 8rem
      grid-template-columns 1fr 1fr
      grid-template-rows auto auto
      padding 15rem
      &__block
        padding 0
