.websites
  &__main
    &__block
      padding 1rem 0
      &__desc
        &__siteName
          display inline-block
          font-weight 500
          margin .5rem 0 0
        & img
          margin-left .5rem
          vertical-align -.3rem
          width 1.8rem
        &__outline
          margin: .5rem 0
          & span
            background-color c_bg_1_light
            border-radius .5rem
            font-size 85%
            padding 0 .5rem
        &__details
          &__ttl
            font-weight 500
            margin-bottom 0
          &__stc
            margin 1rem 0
            & a
              text-decoration underline dotted
      &__ss.mark
        margin-top 3rem


+ls()
  .websites
    &__main
      display grid
      grid-auto-flow row
      grid-column-gap 8rem
      grid-template-columns 1fr 1fr
      &__block
        padding 0
        &__desc
          &__details
            margin-bottom 3rem
        &__ss.mark
          margin-top 5rem
