.footerLink
  bottom: 1rem
  font-size: 80%
  left: 2rem
  margin: 0
  padding-left: 0
  position: fixed
  z-index: 10000

+ls()
  .footerLink
    bottom: 2rem
    font-size: 100%
    left: 3rem

.{pages[0]}
  .footer
    font-weight 500