.footerLink
  bottom: 1rem
  color: c-txt-2
  font-size: 80%
  left: 2rem
  margin: 0
  padding-left: 0
  position: fixed
  z-index: 10000
  & a
    &:hover
      color c-theme-1

+ls()
  .footerLink
    bottom: 2rem
    font-size: 100%
    left: 3rem
