.footerLink
  bottom: 1rem
  font-size: 80%
  left: 2rem
  margin: 0
  padding-left: 0
  position: fixed
  z-index: 10000

+ls()
  .footerLink
    bottom: 2rem
    font-size: 100%
    left: 3rem

.{pages[0]}
  .footer
    a
      font-weight 500
      &:hover
        color c_top_pink
.{pages[1]}
  .footer
    a:hover
      color c_works_red
.{pages[2]}
  .footer
    a:hover
      color c_pics_black
.{pages[3]}
  .footer
    a:hover
      background-color: c_nazo_green
      color c_nazo_pink