.header
  left: 1rem
  letter-spacing: 0em
  position: fixed
  top: 1rem
  z-index: 10000

.headerSiteName
  margin: 0
  & a:hover
    color inherit

.headerMenu
  font-family: f-ttl, sans-serif
  font-size: 90%
  font-weight: 500
  margin: 0
  padding: .5rem 0 0
  & li
    padding-bottom .1rem
  &__here
    color c-theme-1
  &__emoji
    font-family: "Noto Sans Egyptian Hieroglyphs", sans-serif
    font-size 160%
    font-weight bold

+ls()
  .header
    left: 2.5rem
    top: 1.5rem
  .headerMenu
    font-size: 120%
