.header
  left: 1rem
  position: fixed
  top: 1rem
  z-index: 10000
.headerSiteName
  font-size: 180%
  margin: 0
.headerMenu
  font-size: 160%
  margin: 0
  padding: .5rem 0 0

+ls()
  .header
    left: 2.5rem
    top: 1.5rem
  .headerSiteName
    font-size 250%
  .headerMenu
    font-size: 200%

for page in pages
  .{page}
    .headerSiteName
      font-family: ff_pages[page].siteName
    .headerMenu
      font-family: ff_pages[page].headerMenu

.{pages[0]}
  .headerSiteName
    text-shadow: .4rem 0 .6rem c_top_pink_glitch, -.4rem 0 .6rem c_top_cyan_glitch, .3rem 0 c_top_pink_glitch, -.3rem 0 c_top_cyan_glitch
  .headerSiteName a:hover
    color: c_top_purple_light
  .headerMenu
    font-weight: 500
    text-shadow: 0 0 .1rem c_top_white, 0 0 .4rem c_top_cyan, 0 0 .8rem c_top_cyan, 0 0 1rem c_top_cyan
    a:hover, &__here
      color c_top_cyan_light
    li:last-child
      font-family: ff_hieroglyphs
      font-size 120%

.{pages[1]}
  .headerSiteName
    font-weight: 300
    a:hover
      color: c_works_gray_dark
  .headerMenu
    font-size 110%
    li
      padding: 0 0 1rem
      a
        position: relative
        &::after
          background-color: c_works_red
          bottom: 0
          content: ""
          height: .1rem
          left: 0
          position: absolute
          transition: all .3s ease-in-out .1s
          width: 0
        &:hover
          color: c_works_red
        &:hover::after
          width: 100%

.{pages[2]}
  .headerSiteName
    font-weight: 300
    a:hover
      color: c_works_gray_dark
  .headerMenu
    font-size 120%
    li
      padding: 0 0 1rem


+ls()
  .{pages[1]}
    .headerMenu
      font-size 150%
      li
        padding: 0 0 1.1rem
  .{pages[2]}
    .headerMenu
      font-size 160%